@import '../../../scss/index.scss';
@import "~antd/dist/antd.css";
.register-form{
    text-align: left;
    .ant-form-item{
        &:nth-child(3),
        &:last-of-type{
            margin: 0;
        }
    }
    &__input{
        .ant-input-prefix{
            i {
                font-size: 0em + 22px / $defaultFontSize;
            }
        }
        input{
            font-size: 0em + 20px / $defaultFontSize;
            padding: 7px 7px 7px 15px !important;
            &:focus{
                border-color: $primary-color;
                box-shadow: none;
            }
        }
    }
    &__button{
        width: 100%;
        font-size: 0em + 22px/ $defaultFontSize;
        background-color: $primary-color;
        color:$font-light;
        height: 42px;
        &:hover{
            background-color: $primary-color-hover;
            color: $font-light;
        }
        &:focus,
        &:active{
            background-color: $primary-color;
            color: $font-light;
            border: 0;
        }
    }
}
.success{
    border: 1px solid $success;
    background-color: $background-success;
}

.error{
    border: 1px solid $error;
    background-color: $background-error;
}